.adiv{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    background-image: url('./../../assets/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    width: 100vw;
}
