<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="" ></ion-back-button> 
    </ion-buttons>
    <span slot="start" class="title" style="margin-left: 15px;">RunME App</span>
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="title">
    Hazırsan Başlayalım!
  </ion-row>
  <ion-row class="desc">
    Bu en fazla 10dk’nı alacak işte ihtiyacımız olanlar;
  </ion-row>
  <ion-row class="item">
    <ion-col size="auto">
      <div class="circle"></div>
    </ion-col>
    <ion-col class="right">
      <span class="title1">Plaka Detayları</span>
      <span class="desc1">Koşu bilgisi ile diğer kullanıcların aracı bulmasını sağlicaz</span>
    </ion-col>
  </ion-row>
  <ion-row class="item">
    <ion-col size="auto">
      <div class="circle"></div>
    </ion-col>
    <ion-col class="right">
      <span class="title1">Plaka numarası</span>
      <span class="desc1">Bunu gerçek bir araç olduğunu doğrulamak 
        için kullanacağız</span>
    </ion-col>
  </ion-row>
  <ion-row class="item">
    <ion-col size="auto">
      <div class="circle"></div>
    </ion-col>
    <ion-col class="right">
      <span class="title1">Aracın fotoğrafları</span>
      <span class="desc1">Aracının yüksek kalite fotoğraflarını yükle
        kiralanma olasılığını arttır.</span>
    </ion-col>
  </ion-row>
  <ion-row class="btn">
    <ion-button color="dark" routerLink="/car-registeration2" shape="round">İlerle</ion-button>
  </ion-row>
</ion-content>
