
<ion-content>


  <ion-row class="progress">
    <app-progress-bar [progress]="100"></app-progress-bar>
  </ion-row>
  <hr>
  <ion-row class="img">
    <img src="../../../../assets/icon/reg-complete.svg" alt="">
    <span class="title1">Tüm Adımlar Tamam</span>
    <span class="desc">Artık koşu programın tüm kullanıcılar tarafından görüntülenebilecek!</span>
  </ion-row>
  <ion-row class="btn">
    <ion-button color="dark" shape="round" routerLink="/mylists">İlerle</ion-button>
  </ion-row>
</ion-content>
