.errors {
    width: 100%;
    font-size: small;
    color: var(--ion-color-dark);
    background-color: var(--ion-color-warning);
    border-radius: 7px;
    padding: 3px;
    padding-left: 16px;
}
p{
    text-align: center;
  }
  
.input-container{
    margin-bottom: 10px;

}


.my-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

ion-item.my-item {
  height: 45px;
  border-radius: 7px;
  --background: var(--ion-color-light-shade);
  color: var(--ion-color-dark);
}

ion-button {
  width: 100%;
  height: 45px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 7px;
}
