<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/edit-account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'EDIT_PASSWORD.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="changePassword()" [formGroup]="credentials" class="ion-padding">

    
    <div class="input-container">
      <ion-item class="my-item" lines="none" >
        <ion-icon slot="start" name="lock-open-outline" color='dark'></ion-icon>
        <ion-input [type]= "showPassword ? 'text' : 'password' " [placeholder]="'EDIT_PASSWORD.curPass' | translate" formControlName="oldPassword"></ion-input>
        <ion-icon color='dark' class="margin-center" slot="end" [name]= "passwordToggleIcon" (click)= "togglePassword()"></ion-icon>
      </ion-item>
      <div *ngIf="(oldPassword.dirty || oldPassword.touched) && oldPassword.errors" class="errors">
        <span *ngIf="oldPassword.errors?.required">{{'EDIT_PASSWORD.curPassReq' | translate }}</span>
        <span *ngIf="oldPassword.errors?.minlength">{{'EDIT_PASSWORD.passMin' | translate }}</span>
      </div>
    </div>
    <div class="input-container">
      <ion-item class="my-item" lines="none" >
        <ion-icon slot="start" name="lock-open-outline" color='dark'></ion-icon>
        <ion-input [type]= "showNewPassword ? 'text' : 'password' " [placeholder]="'EDIT_PASSWORD.newPass' | translate " formControlName="newPassword"></ion-input>
        <ion-icon color='dark' class="margin-center" slot="end" [name]= "newPasswordToggleIcon" (click)= "toggleNewPassword()"></ion-icon>
      </ion-item>
      <div *ngIf="(newPassword.dirty || newPassword.touched) && newPassword.errors" class="errors">
        <span *ngIf="newPassword.errors?.required">{{'EDIT_PASSWORD.newPassReq' | translate }}</span>
        <span *ngIf="newPassword.errors?.minlength">{{'EDIT_PASSWORD.passMin' | translate }}</span>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">

      <ion-button style="width: fit-content; font-size: small; height: 20px; margin-top: 0; padding: 0;" type="button" expand="block" color="medium" fill="clear" routerLink='/forgot-password'>{{'EDIT_PASSWORD.forPass' | translate }}</ion-button>


    </div>
    
    <div style="width: 100%; margin-top: 16px; padding: 0 !important;">
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid" style='--background: var(--ion-color-primary-shade); color: var(--ion-color-dark);'>{{'EDIT_PASSWORD.title' | translate }}</ion-button>
    </div>

 
  </form>

</ion-content>
