<ion-header mode='ios' class="ion-no-border">
  <ion-toolbar>
<ion-icon name="close" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h1>Uyum Testi</h1>
  <br><br>
<div style="padding: 10%; font-size: medium; font-weight: 700;">
  Şimdi uyum testine davet et ve soruları cevaplayarak ne kadar uyumlu oldğunuzu öğrenin.
</div>
<div>
  <img src="../../assets/images/match.png">
</div>
<br><br>  <br><br>
<div>
  <ion-button color="danger" mode="ios" shape="round" (click)="createNewCall()">Uyum Testi Başlat</ion-button>
</div>
</ion-content>
