ion-content, ion-toolbar{
    --background: #F3F2FF;
    --padding-top: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}
h1 {
    font-weight: bolder;
    font-family: MontserratExtraBold;
    color: #505050;
}