
ion-avatar {
    height: 50px;
    width: 50px;

}
ion-item {
    --background : transparant;
}
.h-style {
    text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);     font-size: .8em;

}
small {
    font-size: 14px;
    color:  #cdbfea;
    font-weight: bold;
}