.cols {
    padding: 5px 5px;
    text-align: center;
    width: 100%;
    margin: 1px;
    background-color: #fff;
    border-radius: 4px;
}
.slide-thumb {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.thımbslide {
    margin:3px
}

.thımbslide img{
    border-radius: 5px;
}
.description {
    background-color: #fff;

    padding: 10px;
    border-radius: 2px;
    margin: 3px;
}
.white {
    background-color: #e6f700;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}
.black {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}