ion-content {
    --background : var(--ion-color-danger)
}
ion-header {
    --background : var(--ion-color-danger)
}
ion-toolbar {
    --background : var(--ion-color-danger);
    padding: 15px;
}
ion-text {
    color : var(--ion-color-light);
}
ion-item {
    --background : var(--ion-color-danger);

}
.modal-content {
    --background: var(--ion-color-light);
}
ion-textarea {
    --background : #fff;
    padding: 8px;
}