<ion-content>
  <div style="background-color: #F9316C; height: 95%; margin: 5%; border-radius: 15px; border: solid 1px #ED074D; padding: 105px 10px 0px 10px;">
    <div>
      <img src="../../assets/logo.png">
    </div>
      <div class="input-container">
        <h3><span style="color: #ffffff; font-weight: bold;">Şimdi</span> yani arkadaşlar bul</h3>
        <span style="color: #fff;">Ola connect ile yeni arkdaşlar bulmak çok kolay. Hemen gir ve profili oluştur.</span>
      </div>
      <br>
      <br>
      <div style="color: #fff; font-weight: bold; padding-left: 30px;" routerLink='/signup'>Ücretsiz Kayıt Ol</div>
      <br><br><br><br><br>
<div style="text-align: center;" routerLink='/login'><img src="../../assets/hemen-basla.png"></div>




  </div>
</ion-content>