.profile-thumbnail {
    border-radius: 50%;
    padding: 2px;
    font-weight: bold;
}
.profile-thumbnail-small {
    border-radius: 50%;
    border: solid 3px #F94C72;
    padding: 2px;
    font-weight: bold;
}
.ion-avatar100 {
    width: 70px;
    height: 70px;
}
.ion-avatar150 {
    width: auto;
    height: auto;
}
h4{
    color: #343434;
    font-weight: bold;
    font-family: 'MontserratExtraBold';
}
.level-bir {
    background: url(../../assets/levels/level1.png);
    position: absolute;
}
.ion-th {
    border-radius: 10px;
}