<ion-content>
  <div class="flex-container" >
    <h1>EFSANE VIP</h1>
    <img src="../../assets/images/other.png">
    <h2>Günün en çok yükleme yapan üyesi</h2>

  </div>
  <div class="intro-bottom">
    <img src="../../assets/header-logo.png">
    <ion-grid>
      <ion-row>
        <ion-col offset="9" size="3" (click)="dismiss()">
          <div style="padding: 5px; text-align: right; color: #fff; border-radius: 5px; border: solid 1px #fff; font-size: small; text-align: center;">Geç ({{theSeconds}})</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
