<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="advert-real" layout="icon-top">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="left" layout="icon-top">
      <ion-icon name="globe-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="competitions" class="right" layout="icon-top">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="my-profile" layout="icon-top">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>