<ion-header class="ion-no-border" no-border>
    <ion-toolbar>
      <ion-icon slot="start" src="../../assets/icon/settings.svg" routerLink="/tab5"></ion-icon>
      <span class="back" slot="end">Durum</span>
      <ion-toggle slot="end"></ion-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class="mainItem">
      <ion-row class="user">
        <ion-col class="img" size="auto">
          <img src="../../assets/person.jpg">
        </ion-col>
        <ion-col class="userData">
          <span class="name">{{userInfo?.name}}</span>
          <span class="location">{{userInfo?.city}}</span>
          <span class="age">Yaş : 18</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-row class="segment">
      <ion-segment mode="md" [(ngModel)]="segment">
        <ion-segment-button value="first">
          <span>1187</span>
          <span>Aktiviteler</span>
        </ion-segment-button>
        <ion-segment-button value="second">
          <span>522</span>
          <span>Takip Edilenler</span>
        </ion-segment-button>
        <ion-segment-button value="third">
          <span>300</span>
          <span>Takipçiler</span>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  
    <ion-row class="steps1">
      <div class="step" *ngFor="let a of [1,2,3,4,5,6]">
        <div class="step-child">
          <img  class="img1" src="../../../../assets/postImg.jpeg">
        </div>
      </div>
    </ion-row>
    
  </ion-content>
  