ion-toolbar {
    --background: rgb(255, 255, 255);
    margin-top: 10px;

    ion-icon {
        margin-left: 20px;
        font-size: 20px;
    }

    .back {
        color: #1C1E21;
        font-size: 15px;
        font-weight: 700;
    }

    ion-title {
        color: #1C1E21;
        font-size: 20px;
        font-weight: 700;
    }
    ion-toggle{
        zoom: 0.8;
        margin-left: 5px;
    }

}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;

    .mainItem {
        border-radius: 9px;
        border: 1px solid #D9D9D9;
        padding: 22px;

        .user {

            .img {
                img {
                    height: 90px;
                    width: 90px;
                    border-radius: 90px;
                    object-fit: cover;
                }
            }

            .userData {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    color: #1C1E21;
                    font-size: 20px;
                    font-weight: 700;
                }

                .location {
                    margin-top: 10px;
                    color: #1C1E21;
                    font-size: 13px;
                    font-weight: 700;
                }

                .age {
                    margin-top: 6px;
                    color: #1C1E21;
                    font-size: 13px;
                    font-weight: 700;
                }
            }

        }

        .btn {
            ion-button {
                width: 100%;
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                height: 50px;
                --border-radius: 10px;
            }
        }
    }
    .segment {
        margin-top: 20px;
        ion-segment {
            border-bottom: 1px solid #999;
            ion-segment-button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                span{
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
        }
    }

    .steps1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;

        .step {
            width: 46%;
            padding-bottom: 20px;
            margin-top: 20px;

            .step-child {
                width: 100%;
                position: relative;

                .img1 {
                    border-radius: 10px;
                    aspect-ratio: 1;
                }
            }
        }
    }


}