<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <span slot="start" class="title">RunME App</span>
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="title">
    Hesap Detayların
  </ion-row>
  <ion-row class="title1">
    <ion-icon src="../../../../assets/icon/arrow-left.svg" (click)="goBack()"></ion-icon>
  </ion-row>
  <ion-row class="item">
    <ion-col size="6" class="left">IBAN Numaram</ion-col>
    <ion-col size="6" class="right">TR006 0000 000 0054 473 454 18</ion-col>
    <ion-col size="6" class="left">Gelecek Ödeme</ion-col>
    <ion-col size="6" class="right">₺ 0.00</ion-col>
    <ion-col size="6" class="left">Ödeme Tarihi</ion-col>
    <ion-col size="6" class="right">25.02.2021</ion-col>
  </ion-row>
  <ion-row class="title2">
    Toplam
  </ion-row>
  <ion-row class="title3">
    <span class="left">₺ 0.00</span>
    <span class="right">Ock - Şub <ion-icon src="../../../../assets/icon/arrowBottom.svg"></ion-icon></span>
  </ion-row>
  <ion-row class="barChart">
    <img src="../../../../assets/icon/barChart.png">
  </ion-row>
  <ion-row class="items">
    <span>Ağs</span>
    <span>Eyl</span>
    <span>Eki</span>
    <span>kas</span>
    <span>Ara</span>
  </ion-row>
  <ion-row class="title4">
    <span class="left">Hareketler</span>
    <span class="right">Ock<ion-icon src="../../../../assets/icon/arrowBottom.svg"></ion-icon></span>
  </ion-row>
  <!-- <ion-row class="item2" *ngFor="let a of [1,2,3,4,5]">
    <ion-col class="left" size="auto">
      <ion-icon src="../../../../assets/icon/Dollar Circle.svg"></ion-icon>
    </ion-col>
    <ion-col class="mid">
      <span class="top">Porche Rezervasyon</span>
      <span class="bottom">15.01.2021</span>
    </ion-col>
    <ion-col class="right" size="auto">
      + ₺ 2992.90
    </ion-col>
  </ion-row> -->
</ion-content>
