ion-card{
    padding: 0;
    ion-button{
        --background: var(--ion-color-light) !important;
        color: var(--ion-color-dark-shade) !important;
        --border-radius: 50%;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 5px;
        left: 5px;}
    .trash{
        width: 25px;
        height: 25px;
    }
}
ion-spinner{
    width: 100%;
    margin-top: 16px;
    color: var(--ion-color-primary-shade);
}

