.profile-thumbnail {
    border-radius: 50%;
    border: solid 3px #F94C72;
    padding: 2px;
    font-weight: bold;
}
.ion-avatar100 {
    width: 70px;
    height: 70px;
}
.ion-avatar150 {
    width: 70px;
    height: 70px;
}
h4{
    color: #343434;
    font-weight: bold;
    font-family: 'MontserratExtraBold';
}