ion-content {
    --background : var(--ion-color-dark);
    --color : var(--ion-color-light)
}
ion-header {
    --background : var(--ion-color-dark);
    --color : var(--ion-color-light)
    
}
ion-searchbar {
    --placeholder-color	 : var(--ion-color-light);
    -color	 : var(--ion-color-light);
    
}
ion-toolbar {
    --background : var(--ion-color-dark);
    --color : var(--ion-color-light);

    padding: 15px;
}
ion-text {
    --color : var(--ion-color-dark);
}
ion-item {
    --background : var(--ion-color-dark);
    --color : var(--ion-color-light);

}
.modal-content {
    --background: var(--ion-color-light);
}
ion-textarea {
    --background : #fff;
    padding: 8px;
}
.rad-item {
    border-radius: 10px;
    margin-bottom: 10px;
}
ion-input {
    --background : #fff;
    border-radius: 5px;
    --padding-start : 10px;
}