ion-header {
    ion-toolbar {
        --background: white;

        ion-icon {
            font-size: 25px;
        }
    }
}

ion-content {
    .title {
        margin: 10px 20px;
        color: #272B3B;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    .scroll {
        padding: 10px 20px;
        flex-wrap: nowrap;
        overflow-x: scroll !important;
        overflow-y: hidden;

        .item {
            border-radius: 4px;
            background: #F7F7F7;
            height: 70px;
            width: 100px !important;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            span {
                color: var(--ion-color-primary);
                font-size: 10px;
                font-weight: 600;
            }
        }

        .item:last-child {
            margin-right: 0px;
        }
    }

    .items1 {
        margin: 10px 20px;
        gap: 10px;

        .item1 {
            border-radius: 4px;
            border: 1px solid #E9EBED;
            background: #FEFEFE;
            padding: 10px 15px;
            margin: 0px 0px 10px 0px;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 25px;
                width: auto;
                margin-right: 8px;
            }

            span {
                color: #272B3B;
                font-size: 12px;
                font-weight: 600;
            }
        }

        .selected {
            background: #3474FF !important;
            border: 1px solid #3474FF !important;
            color: #FDFDFD !important;
        }
    }

    .range {
        margin: 10px 20px;
        display: flex;
        flex-direction: column;

        ion-range {
            width: 100%;
            --bar-height: 12px;
            --bar-border-radius: 20px;
        }

        .rangeTitles {
            display: flex;
            justify-content: space-between;

            span {
                color: #9CA4AB;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }

    .btn {
        margin: 10px 20px;
        ion-button {
            border-radius: 4px;
            --border-radius: 4px;
            width: 100%;
        }
    }
}