<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <span slot="start" class="title">RunME App</span>
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="top">
    <span class="title">Ödeme Yöntemi </span>
    <span class="desc">Lütfen ödeme bilgilerinizi girin</span>
  </ion-row>
  <ion-grid class="grid">
    <ion-row class="top1">
      <div class="left">
        <img src="../../../../assets/images/circleIcon.png" alt="">
        Kredi Kartı
      </div>
      <img src="../../../../assets/icon/Visa.png" class="img2" alt="">
    </ion-row>
    <ion-row class="input">
      <ion-label>Kart Numarası</ion-label>
      <ion-input placeholder="*********">
      </ion-input>
    </ion-row>
    <ion-row class="input">
      <ion-label>Kart Üzerindeki İsim</ion-label>
      <ion-input placeholder="Ahmet İrtemek">
      </ion-input>
    </ion-row>
    <ion-row class="input">
      <ion-label>Bitiş Tarihi</ion-label>
      <ion-input placeholder="DD / MM/YY">
      </ion-input>
    </ion-row>
    <ion-row class="input">
      <ion-label>CVC</ion-label>
      <ion-input placeholder="***">
      </ion-input>
    </ion-row>
  </ion-grid>
  <ion-row class="check">
    <ion-checkbox labelPlacement="end">Nakit</ion-checkbox>
  </ion-row>
  <ion-row class="check">
    <ion-checkbox labelPlacement="end">Diğer Ödeme Yöntemi</ion-checkbox>
  </ion-row>
  <ion-row class="top">
    <span class="title">Onay</span>
    <span class="desc">Çok az kaldı! Aşağıdakileri onaylaman yeterli</span>
  </ion-row>
  <ion-row class="check1">
    <ion-col size="auto">
      <ion-checkbox></ion-checkbox>
    </ion-col>
    <ion-col>
      Pazarlama ve bülten e-postalarının gönderilmesini kabul ediyorum. 
    </ion-col>
  </ion-row>
  <ion-row class="check1">
    <ion-col size="auto">
      <ion-checkbox></ion-checkbox>
    </ion-col>
    <ion-col>
      Şartlar ve Koşullar ile Gizlilik Politikamızı kabul ediyorum!
    </ion-col>
  </ion-row>
  <ion-row class="btn">
   <ion-button>
    Kirala
   </ion-button>
  </ion-row>
  <ion-row class="safety">
    <ion-col size="auto">
      <img src="../../../../assets/images/ic-security-safety.svg" alt="">
    </ion-col>
    <ion-col class="right12">
      <span class="top4">Tüm verilerin güvende</span>
      <span class="bottom4">Size en iyi deneyimi sunmak için en gelişmiş gizlilik güvenliğini kullanıyoruz.</span>
    </ion-col>
  </ion-row>
</ion-content>