ion-toolbar {
    --background: rgb(255, 255, 255);
    margin-top: 10px;

    ion-icon {
        margin-left: 20px;
        font-size: 20px;
    }

    .back {
        color: #1C1E21;
        font-size: 20px;
        font-weight: 700;
    }

    ion-title {
        color: #1C1E21;
        font-size: 20px;
        font-weight: 700;
    }

    .end {
        font-size: 16px;
    }

    .share {
        color: #1C1E21;
        font-size: 15px;
        font-weight: 600;
        margin-right: 10px;
    }

}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;

    .swipper {
        width: 100%;

        swiper-container {
            width: -webkit-fill-available;
            --swiper-pagination-color: var(--ion-color-primary);

            swiper-slide {
                width: 100%;
                height: 260px;

                img {
                    height: 230px;
                    border-radius: 10px;
                    width: 100%;
                    object-fit: cover;

                }
            }
        }
    }

    .user {
        border-bottom: 1px solid #D9D9D9;

        .img {
            img {
                height: 80px;
                width: 80px;
                border-radius: 80px;
                object-fit: cover;
            }
        }

        .userData {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .name {
                color: #1C1E21;
                font-size: 20px;
                font-weight: 700;
            }

            .date {
                color: #1C1E21;
                font-size: 13px;
                font-weight: 700;
            }
        }

        .btnsRight {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
        }

        .btn {
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 18px;
                margin-right: 6px;
            }

            span {
                color: #1C1E21;
                font-size: 13px;
                font-weight: 600;
            }
        }

    }

    .details {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #D9D9D9;

        ion-col {
            padding: 0px;
            display: flex;
            flex-direction: column;

            .name {
                color: #1C1E21;
                font-size: 15px;
                font-weight: 800;
            }

            .desc {
                color: #1C1E21;
                font-size: 18px;
                font-weight: 800;
            }
        }
    }

    .rowItems {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .title {
            color: #1C1E21;
            font-size: 13px;
            font-weight: 700;
        }

        .imagesRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .img{
                gap: 6px;
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                    object-fit: cover;
                }
            }
    
            span {
                color: #D80800;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    


    .main {
        border: 1px solid #D9D9D9;
        border-radius: 16px;
        img {
            height: 25px;
            width: 25px;
            border-radius: 25px;
            position: absolute;
            object-fit: cover;
            top: 15px;
            left: 5px;
        }
    }
    .userRow {
        border: 1px solid #D9D9D9;
        border-radius: 16px;
        margin-top: 20px;
        position: relative;
        .timeAgo{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 10px;
            color: #999;
            font-weight: 700;
        }

        .img {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                width: 40px;
                border-radius: 40px;
                object-fit: cover;
            }
        }

        .userData {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .name {
                color: var(--ion-color-primary);
                font-size: 16px;
                font-weight: 700;
            }

            .date {
                color: #1C1E21;
                font-size: 9px;
                font-weight: 700;
            }
        }

    }
}

ion-footer {
    padding: 20px;

    img {
        height: 25px;
        width: 25px;
        border-radius: 25px;
        position: absolute;
        object-fit: cover;
        top: 15px;
        left: 5px;
    }

    .main {
        border: 1px solid #D9D9D9;
        border-radius: 16px;
    }

    .send {
        ion-icon {
            font-size: 20px;
        }
    }

    .addMessage {
        flex: 1;

        ion-input {
            --padding-start: 40px;
            --padding-end: 40px;
        }
    }
}