<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <ion-back-button slot="start" text="" mode="ios"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="!isCodeSent" (ngSubmit)="sendResetCode()" [formGroup]="emailForm">

  <ion-row class="top">
    <span class="title">Parolanı Yenile</span>
    <p class="detail">Hesabın için yeni şifre oluştur</p>
  </ion-row>
  <ion-row class="input">
    <ion-col size="12"></ion-col>
    <ion-input placeholder="isim@mail.com" formControlName="email">

    </ion-input>
  </ion-row>

  <ion-row class="btn">
    <ion-button routerLink="/email-sent">İlerle</ion-button>
  </ion-row>
  </form>
  
  <!-- kod gönderildi-->
  <form *ngIf="isCodeSent" (ngSubmit)="resetPassword()" [formGroup]="credentials" class="ion-padding">

    <div class="input-container">
      <ion-item class="my-item" lines="none">
        <ion-icon slot="start" name="key-outline" color='dark'></ion-icon>
        <ion-input type="number" [placeholder]="'FORGOT_PASSWORD.verCode' | translate" formControlName="code">
        </ion-input>
      </ion-item>
      <div *ngIf="(code.dirty || code.touched) && code.errors" class="errors">
        <span *ngIf="code.errors?.required">{{'FORGOT_PASSWORD.verCodeReq' | translate}}</span>

      </div>
    </div>

    <div class="input-container">
      <ion-item class="my-item" lines="none">
        <ion-icon slot="start" name="lock-closed-outline" color='dark'></ion-icon>
        <ion-input [type]="showPassword ? 'text' : 'password' "
          [placeholder]="'FORGOT_PASSWORD.newPassword' | translate" formControlName="password"></ion-input>
        <ion-icon color='dark' class="margin-center" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()">
        </ion-icon>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">{{'FORGOT_PASSWORD.passwordReq' | translate}}</span>
        <span *ngIf="password.errors?.minlength">{{'FORGOT_PASSWORD.minPass' | translate}}</span>
      </div>
    </div>

    <div class="input-container">
      <div style="margin-top: 16px; padding: 0 !important; text-align: right;">
      <ion-button type="submit" color="dark" shape="round" [disabled]="!credentials.valid"
        style='--background: var(--ion-color-primary-dark); color: var(--ion-color-light);'>
        {{'FORGOT_PASSWORD.setNewPass' | translate}}</ion-button>
    </div>
  </div>
  </form>
</ion-content>