<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <span slot="start" class="title">RunME App</span>
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="img">
    <img src="../../../../assets/images/placeholderCar.jpeg">
    <div class="heart">
      <ion-icon src="../../../../assets/icon/heartHollow.svg"></ion-icon>
    </div>
    <div class="pagination">1 of 15</div>
  </ion-row>
  <ion-row class="date">
    <ion-datetime presentation="date"></ion-datetime>
  </ion-row>
  <ion-row class="btn">
    <ion-button routerLink="/payment">İlerle</ion-button>
  </ion-row>
</ion-content>
