.profile-thumbnail {
    border-radius: 50%;
    font-weight: bold;
}
.profile-thumbnail-small {
    border-radius: 50%;
    border: solid 3px #F94C72;
    padding: 2px;
    font-weight: bold;
}
.ion-avatar100 {
    width: 70px;
    height: 70px;
}
.ion-avatar150 {
    width: 100px;
    height: 100px;
}
h4{
    color: #343434;
    font-weight: bold;
    font-family: 'MontserratExtraBold';
}
.level-bir {
    background: url(../../assets/levels/level1.png);
    position: absolute;
}
.my-avatar{
    position: relative;
    background: var(--ion-color-light-tint);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 66px; 
    width: 66px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    border: solid 2px var(--ion-color-primary);
    img {
        width: 66px;
        height: 66px;
        object-fit: cover;
    }


}

.vip-avatar{
    position: relative;
    background: var(--ion-color-light-tint);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 62px; 
    width: 62px; 

    img {
        width: 56px;
        height: 56px;
        object-fit: cover;
    }


}