<ion-header mode='ios'>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/social-accounts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SOCIAL_ACCOUNTS.ADD.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAddLink()" [formGroup]="credentials" class="ion-padding">

    <div class="input-container">
      <ion-item class="my-item" lines='none'>
        <ion-icon slot="start" name="share-social-outline" color='dark'></ion-icon>
        <ion-label>{{ 'SOCIAL_ACCOUNTS.ADD.category' | translate }}</ion-label>
        <ion-select value="type" multiple="false" [placeholder]="'SOCIAL_ACCOUNTS.ADD.select' | translate" formControlName="type">
          <ion-select-option value="instagram">Instagram</ion-select-option>
          <ion-select-option value="youtube">YouTube</ion-select-option>
          <ion-select-option value="facebook">Facebook</ion-select-option>
          <ion-select-option value="messenger">Messenger</ion-select-option>
          <ion-select-option value="twitter">Twitter</ion-select-option>
          <ion-select-option value="tiktok">TikTok</ion-select-option>
          <ion-select-option value="pinterest">Pinterest</ion-select-option>
          <ion-select-option value="snapchat">Snapchat</ion-select-option>
          <ion-select-option value="whatsapp">WhatsApp</ion-select-option>
          <ion-select-option value="qq">QQ</ion-select-option>
          <ion-select-option value="line">Line</ion-select-option>
          <ion-select-option value="wechat">WeChat</ion-select-option>
          <ion-select-option value="kik">Kik</ion-select-option>
          <ion-select-option value="kakaoTalk">KakaoTalk</ion-select-option>
          <ion-select-option value="reddit">Reddit</ion-select-option>
          <ion-select-option value="pinterest">Pinterest</ion-select-option>
          <ion-select-option value="telegram">Telegram</ion-select-option>
          <ion-select-option value="vk">VK</ion-select-option>
          <ion-select-option value="skype">Skype</ion-select-option>
          <ion-select-option value="linkedin">LinkedIn</ion-select-option>
          <ion-select-option value="discord">Discord</ion-select-option>
          <ion-select-option value="tumblr">Tumblr</ion-select-option>
          <ion-select-option value="twitch">Twitch</ion-select-option>
          <ion-select-option value="steam">Steam</ion-select-option>
          <ion-select-option value="github">GitHub</ion-select-option>
          <ion-select-option value="ok">OK</ion-select-option>
          <ion-select-option value="other">{{ 'SOCIAL_ACCOUNTS.ADD.other' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="(type.dirty || type.touched) && type.errors" class="errors">
        <span *ngIf="type.errors?.required">{{ 'SOCIAL_ACCOUNTS.ADD.categoryReq' | translate }}</span>
      </div>
    </div>

    <div class="input-container">

      <ion-item class="my-item" lines="none" >
        <ion-icon slot="start" name="link-outline" color='dark'></ion-icon>
        <ion-input type="text" pattern="[^<>]+" [placeholder]=" 'SOCIAL_ACCOUNTS.ADD.link' | translate " formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
        <span *ngIf="name.hasError('required')">{{ 'SOCIAL_ACCOUNTS.ADD.linkReq' | translate }}</span>
        <span *ngIf="name.hasError('pattern')">{{ 'SOCIAL_ACCOUNTS.ADD.symbolNotAllowed' | translate }}</span>
      </div>

    </div>
    

    
    <div style="width: 100%; margin-top: 16px; padding: 0 !important;">
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid" style='--background: var(--ion-color-primary-shade); color: var(--ion-color-dark);'>{{ 'SOCIAL_ACCOUNTS.ADD.add' | translate }}</ion-button>
    </div>
    

 
  </form>
</ion-content>
