<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <ion-icon  routerLink="/tabs//my-profile" src="../../../../assets/icon/arrow-left.svg"  style="margin-right: 15px; font-size: x-large;" slot="start"></ion-icon >

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="header">
    Müşteri Yorumları
  </ion-row>
  <ion-row class="title">
    İncelemeler <span>0</span>
  </ion-row>
  <!-- <ion-row class="item" *ngFor="let a of [1,2,3]">
    <ion-col size="auto">
      <ion-avatar>
        <img src="../../../../assets/images/user.jpeg" alt="">
      </ion-avatar>
    </ion-col>
    <ion-col class="right2">
      <ion-row class="top1">
        <span class="left">Ahmet İrtemek</span>
        <span class="right">21 Ağustos 2023</span>
      </ion-row>
      <ion-row class="mid1">
        <span class="left">CEO at Acme</span>
        <span class="right">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star-outline" color="medium"></ion-icon>
        </span>
      </ion-row>
      <ion-row class="bottom1">
        Mobil Koşu Uygulaması benim için bir kurtarıcıydı! Bu uygulama sayesinde araç....
      </ion-row>
    </ion-col>
  </ion-row> -->
</ion-content>
