
<ion-content>
  <ion-row class="top">
    <span class="left">200+ araç müsait</span>
    <span class="right"> 
      <ion-icon src="../../../../assets/icon/filter.svg"></ion-icon>
      Filtre
    </span>
  </ion-row>
  <ion-grid class="card" (click)="router()">
    <ion-row class="card-header">
      <img src="../../../../assets/images/placeholderCar.jpeg">
      <div class="heart">
        <ion-icon src="../../../../assets/icon/heartHollow.svg"></ion-icon>
      </div>
    </ion-row>
    <ion-row class="card-content">
      <span class="title3">BMW 5 Series 2017</span>
      <span class="type"><ion-icon src="../../../../assets/icon/starCheck.svg"></ion-icon> Süper Host</span>
      <span class="location"><ion-icon src="../../../../assets/icon/location.svg"></ion-icon> Taksim • 7.6 km</span>
      <ion-row class="bottomRight">
        <span class="amount">₺45/gün</span>
        <span class="amount2">₺135 tahmini toplam</span>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
